/*========== All new items start ==========*/

/* aside styles */
.aside-container .aside-content.categories {
    padding: 20px 25px 40px;
}

.aside-container .aside-content.price-range .aside-title {
    margin-bottom: 40px;
}

.marked-list {
    font-size: 15px;
    color: #263238;

}
.marked-list a:hover {
    color: #263238;
}

.marked-list li {
    position: relative;
    line-height: 40px;
}

.marked-list.aside-marked-list {
    margin-top: 23px;
}

.marked-list.aside-marked-list li::before {
    font-size: 14px;
    content: "\f105";
}

.marked-list li .marked-list-price {
    position: absolute;
    right: 0;
    top: 0;
    color: #90a4ae;
}

.marked-list li .marked-list-price::before {
    content: "(";
}

.marked-list li .marked-list-price::after {
    content: ")";
}


.ui-widget.ui-widget-content {
    height: 5px;
    border: none;
    background-color: #f2f5f8;
    border-radius: 5px;
    margin-bottom: 62px;
}

.ui-slider .ui-slider-range {
    background-color: #37474f;
}

.ui-slider .min-value,
.ui-slider .max-value{
    position: absolute;
    top: 28px;
    color: #78909c;
    font-size: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.ui-slider .ui-state-default.ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #8bc34a;
    background-color: #fff;
}

.btn-custom.btn-aside {
    position: relative;
}
.btn-custom.btn-aside i {
    position: absolute;
    top: 30%;
    left: 25%;
}
/* aside styles end */

/* Page content styles*/

.sort-controls {
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.sort-controls .fa-sort-amount-desc {
    color: #455a64;
    background-color: #ffffff;
}

.sort-controls .btn-custom.dropdown-toggle {
    padding: 0 14px;
}
.btn-custom.dropdown-toggle:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #707070;
}
.sort-controls .grid-thumbs {
    margin-right: 15px;
}
.sort-controls .grid-thumbs,
.sort-controls .grid-list {
    color: #90a4ae;
}
.sort-controls .grid-thumbs.active,
.sort-controls .grid-list.active{
    color: #8bc34a;
}
.page-content .row + .row {
    margin-top: 50px;
}

.card .card-text-info {
    display: none;
}
.card .votes {
    display: none;
}
.card.row-card .votes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.card .card-author .comments,
.card .card-author .likes{
    font-size: 12px;
    color: #263238;
}

.card .card-author .comments .comments-count::before,
.card .card-author .likes .likes-count::before {
    content: "(";
    color: #b0bec5;
    margin-right: 3px;
}
.card .card-author .comments .comments-count::after,
.card .card-author .likes .likes-count::after {
    content: ")";
    color: #b0bec5;
    margin-left: 3px;
}
.card .card-author .comments i,
.card .card-author .likes i {
    color: #8bc34a;
    margin: 0 18px;
}
.card .card-author .comments-line {
    color: #aeb4bb;
    margin-left: 27px;
}
/* row-card styles*/
.card .card-text-info {
    display: none;
}

.card.row-card .card-text-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.card.row-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    border: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.card.row-card .card-img {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    position: relative;
}
.card.row-card .card-img img{
    display: block;
    height: 100%;
}
.card.row-card .card-text-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 30px;
    font-size: 14px;
    color: #70838d;
}
.card.row-card .card-info {
    padding: 22px 30px 15px;
    border-bottom: none;
}
.card.row-card .card-author {
    border-top: 1px solid #d9e0e3;
}
.card.row-card .card-description {
    -webkit-box-flex: 8;
    -ms-flex: 8;
    flex: 8;
    background: #ffffff;
}
.card.row-card .card-item-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.card.row-card .price-sale {
    display: inline-block;
    font:  400 13px 'Roboto', sans-serif;
    color:#aeb4bb;
}
.card .card-info .card-text {
    font:  400 14px 'Roboto', sans-serif;
    color: #70838d;
}
.card.row-card .price-sale span {
    display: block;
}
.card.row-card .card-price {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
}
.card.row-card .item-category {
    padding-bottom: 20px;
}
.card.row-card .card-author {
    padding: 15px 30px;
}
.card.row-card .card-author span i{
    border-left: 1px solid #000;
    padding-left:18px;
    font-size: 16px;
    color: #8bc34a;
    margin-left: 30px;
}
span.icon-rating{
    padding-right: 10px;

}

/* row-card styles end*/

/* Page content styles end */

/*========== All new items start ==========*/