
/*========== DROPDOWN HEADER START ==========*/

/* Resset style dropdown start*/
.dropdown-toggle::after {
    display: none;
}
.dropleft .dropdown-toggle::before{
    display: none;
}
.dropdown-menu{
    padding: 0;
    margin: 0;
}
/* Resset style dropdown end*/

/* Deffault style dropdown start */
.drop-icon{
    font-size: 14px;
    color: #a0a0a0;
    padding: 5px;
    cursor: pointer;
}
.drop-content{
    flex-direction: column;
}
.header-dropdown-list{
    flex-direction: row;
    padding: 0 25px;
}
.header-dropdown-list li + li{
    margin-left: 15px;
}
.header-dropdown-list .dropdown-open-menu{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #f5f5f5;
    border-radius: 18px;
}
.dropdown-menu{
    top: 62px !important;
    left: 36px !important;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
}
.dropdown-menu:hover{
    border-color: #ccc;
    border-style: solid;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0px rgba(216, 216, 216, 0.75);
}
.dropdown-menu .dropdown-item {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
.dropdown-menu .dropdown-total {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #f5f5f5;
}
.dropdown .show .dropdown-menu{
    max-width: 100%;
    padding: 20px ;
    position: absolute;
    border-bottom: 5px solid;
}
.dropdown-item a{
    margin: auto;
}
.count{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-family: "Open Sans";
    font-size: 11px;
    text-align: center;
    color: #fff;
    padding: 4px 0;
    margin-top: -15px;
    margin-left: 15px;
}
.dropdown:hover .dropdown-open-menu .drop-icon {
    color: #111;
}
.drop-content .drop-content-data{
    font-size: 10px;
    font-family: "Roboto";
    font-weight: 400;
    color: #707070;
    line-height: 1.8;
}
.dropdown-item .drop-content{
    padding: 0 30px;
    cursor: pointer;
    flex-grow: 1;
}
.dropdown-menu .dropdown-item:hover .drop-icon{
    color: #ef6c00;
}
.btn-dropdown{
    padding: 13px;
    font-size: 14px;
    font-family: "Roboto";
    color: #F4F6F5;
    font-weight: 400;
    margin-top: 20px;
}
/* Deffault style dropdown end */

/* Dropdown Notification start */
.dropdown-notification .dropdown-menu .dropdown-item a{
    width: 50px;
}
.dropdown-notification .dropdown-open-menu .count{
    background-color: #fcb322;
}
.dropdown-notification .dropdown-item .drop-content h6{
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 400;
    color: #84b743;
    line-height: 1.8;
 }
/* Dropdown Notification End */

/* Dropdown Message Start */
.dropdown-message .dropdown-menu .dropdown-item a{
    width: 50px;
}
.dropdown-message .dropdown-open-menu .count{
    background-color: #ef6c00;
}
.dropdown-message .dropdown-item .drop-content h6{
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 400;
    color: #263238;
    line-height: 1.8;
}
.dropdown-message .drop-content .drop-content-title{
    font-size: 11px;
    font-family: "Roboto";
    color: #84b743;
    line-height: 1.8;
}
/* Dropdown Message End */

/* Dropdown Bascket Start */
.dropdown-basket .dropdown-menu .dropdown-item a{
    width: 73px;
}
.dropdown-basket .dropdown-open-menu .count{
    background-color: #95c85a;
}
.dropdown-basket .dropdown-item .drop-content h6{
    font-size: 15px;
    font-family: "Roboto";
    font-weight: 300;
    color: #263238;
}
.dropdown-basket .drop-content .drop-content-title{
    font-size: 12px;
    font-family: "Roboto";
    color: #84b743;
    line-height: 1.8;
}
.dropdown-basket .drop-content .drop-content-price{
    font-size: 16px;
    font-family: "Roboto";
    color: #000;
    line-height: 1.8;
}
.dropdown-basket .dropdown-menu .dropdown-total span{
    font-size: 16px;
    font-family: "Roboto";
    color: #000;
}
.dropdown-menu .dropdown-total .dropdown-total-item{
    padding: 0 15px;
}

/* Dropdown Basket End */

/* Dropdown Account Start */
.dropdown-account {
    cursor: pointer;
}
.dropdown-account .dropdown-menu .dropdown-item-account{
    padding: 20px;
}
.dropdown-account .dropdown-menu .dropdown-item-account a{
    display: block;
}
.dropdown-account .dropdown-menu .dropdown-item-account a + a{
    margin-top: 20px;
}
.dropdown-item-account .drop-content-title{
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 400;
    color: #546e7a;
    margin-left: 10px;
}
.dropdown-item-account a:hover .drop-content-title{
    color: #000;
}
.dropdown-item-account a:hover i{
    color: #88f609;
}
.dropdown-item-account i{
    font-size: 14px;
    font-weight: 400;
    color: #8bc34a;
}
.dropdown-account .dropdown-account-title .drop-content{
    padding: 0 13px;
}
.dropdown-account-title .drop-content h6{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
    color: #222;
}
.dropdown-account-title .drop-content .drop-account-price{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 300;
    color: #8bc34a;
}
.dropdown-account .drop-icons{
    font-size: 12px;
    color: #707070;
}
.dropdown-account:hover .dropdown-open-menu{
    background-color: #d4d4d4;
}

/* Dropdown Account End */

/*========== DROPDOWN HEADER END ==========*/