/*========== FOOTER START ==========*/
#footer .footer-top {
    background-color: #263238;
    padding: 115px 0 100px 0;
    border-bottom: 1px solid #424d53;
}
#footer .footer-top .footer-column-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 28px;
}
#footer .footer-top .footer-column-devider {
    height: 3px;
    width: 51px;
    background-color: #8bc34a;
    margin-bottom: 30px;
}
#footer .footer-top .footer-column-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #b7c3c8;
    margin-bottom: 35px;
}
#footer .footer-top .footer-column-contacts i {
    font-size: 18px;
    color: #8bc34a;
    margin-right: 20px;
}
#footer .footer-top .footer-column-contacts span {
    font-family: 'latosemibold', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
#footer .footer-top .company-adress {
    margin-bottom: 25px;
}
#footer .footer-top .footer-column-list li::before {
    font-family: FontAwesome;
    content: "\f054";
    top: 0;
    left: 0;
    font-size: 15px;
    color: #8bc34a;
}
#footer .footer-top .footer-column-list a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 36px;
    color: #b7c3c8;
    margin-left: 15px;
}
#footer .footer-top .footer-column-list a:hover {
    color: #e74c3c;
}
#footer .footer-top .footer-column-socials-list {
    margin-bottom: 40px;
}
#footer .footer-top .footer-column-socials-list li {
    margin-right: 7px;
}
#footer .footer-top .footer-column-newsletter-title {
    margin-bottom: 20px;
}
#footer .footer-top .footer-column-newsletter-title span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}
#footer .footer-top .footer-newsletter-form .form-control.footer-newsletter {
    padding: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #697378;
    border: 1px solid #000101;
    border-radius: 0;
    background-color: #2f3c43;
    height: auto;
    letter-spacing: 0em;
}
#footer .footer-top .footer-newsletter-form .form-control.footer-newsletter:focus {
    box-shadow: none;
}
#footer .footer-top .footer-newsletter-form .btn.footer-newsletter-button {
    border: 1px solid #000101;
    border-radius: 0;
    border-left: none;
    background-color: #8bc34a;
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
    padding: 13px;
}
#footer .footer-top .footer-newsletter-form .btn.footer-newsletter-button:hover {
    background-color: #e74c3c;
}
#footer .footer-top .footer-newsletter-form .btn.footer-newsletter-button:focus {
    box-shadow: none;
}
#footer .footer-bottom {
    background-color: #263238;
    padding-top: 27px;
    padding-bottom: 35px;
}
#footer .footer-bottom .footer-bottom-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #919699;
}
/*========== FOOTER END ==========*/