.search-section{
    background: url(../../app/img/inner-bg.jpg) no-repeat center top/cover;
    opacity:0.8;
}
.search-section.small{
    padding: 65px 0;
    height: 230px;
}
.search-section.bg{
    padding: 175px 0;
    height: 100vh;
}
.search-section.bg h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #f8f8f8;
    margin-bottom: 30px;
}
.search-section.bg span{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #f8f8f8;
    display: block;
    margin-bottom: 55px;
}
.search-section.bg form .form-control,
.search-section.small form .form-control
{
    min-width: 670px;
}
.form-control {
    width: 100%;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1em;
    color: rgb(153, 171, 180);
    padding-left: 25px;
    padding-right: 25px;
}
.form-control:focus{
    border: none;
}
.text-center{
    width: 750px;
}
.search-section.small span{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #f8f8f8;
    display: block;
    margin-bottom: 30px;
}
.col{
    display: flex;
    -webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}