/* ========== RESET START ========== */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    color: #707070;
    margin: 0;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: normal;
}
p {
    margin: 0px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    outline: none;
    border: none;
    padding: 0;
}
textarea {
    resize: vertical;
}
input[type="submit"] {
    cursor: pointer;
}
button {
    cursor: pointer;
}
blockquote	{
    margin: 0px;
}
/*========== RESET END ==========*/