/*Lato semibold*/
@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold-webfont.eot');
    src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
    url('../fonts/lato-semibold-webfont.woff') format('woff'),
    url('../fonts/lato-semibold-webfont.ttf') format('truetype'),
    url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* ========== RESET START ========== */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1;
    color: #707070;
    margin: 0;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: normal;
}
p {
    margin: 0px;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    outline: none;
    border: none;
    padding: 0;
}
textarea {
    resize: vertical;
}
input[type="submit"] {
    cursor: pointer;
}
button {
    cursor: pointer;
}
blockquote	{
    margin: 0px;
}
/*========== RESET END ==========*/
.breadcrumb {
    background-color: inherit;
    color: #b0bec5;
}
.breadcrumb-item.active {
    color: #263238;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: '-';
    color: #8bc34a;
}
.btn-custom {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding:  8px 0;
    border-radius: 6px;
    font-weight: 400;
    line-height: 1.5;
    width: 72px;
}
.btn-custom.btn-green {
    color: #ffffff;
    background-color: #8bc34a;
}
.btn-custom.btn-red {
    color: #ffffff;
    background-color: #e74c3c;
}
.btn-custom.btn-blue {
    color: #ffffff;
    background-color: #42a5f5;
}
.button-wrapper {
    text-align: center;
    margin-top: 20px;
}
.tag-list {
    font-size: 14px;
    font-weight: 500;
}
.tag-list-item {
    background-color: #fff;
    padding: 13px 23px;
    color: #263238;
}
.tag-list  .tag-list-item + .tag-list-item  {
     margin-left: 5px;
 }
.tag-list .tag-list-item.active{
    background-color: #e74c3c;
    color: #ffffff;
    padding: 13px 27px;
}
.tag-list .tag-list-item:hover {
    background-color: #e74c3c;
    color: #ffffff;
}
.tag-list-item a:hover {
    color: #ffffff;
}
.bg-grey {
    background-color: #f4f6f5;
}

.tag-section {
    height: 500px;
}

