/*========== All new items start ==========*/

/* aside styles */
.aside-container .aside-content.categories {
    padding: 20px 25px 40px;
}

.aside-container .aside-content.price-range .aside-title {
    margin-bottom: 40px;
}

.marked-list {
    font-size: 15px;
    color: #263238;

}
.marked-list a:hover {
    color: #263238;
}

.marked-list li {
    position: relative;
}

.marked-list.aside-marked-list li::before {
    font-size: 14px;
    content: "\f105";
}

.marked-list li .marked-list-price {
    position: absolute;
    right: 0;
    top: 0;
    color: #90a4ae;
}

.marked-list li .marked-list-price::before {
    content: "(";
}

.marked-list li .marked-list-price::after {
    content: ")";
}


.ui-widget.ui-widget-content {
    height: 5px;
    border: none;
    background-color: #f2f5f8;
    border-radius: 5px;
    margin-bottom: 62px;
}

.ui-slider .ui-slider-range {
    background-color: #37474f;
}

.ui-slider .min-value,
.ui-slider .max-value{
    position: absolute;
    top: 28px;
    color: #78909c;
    font-size: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.ui-slider .ui-state-default.ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #8bc34a;
    background-color: #fff;
}

/* aside styles end */

/* Page content styles*/

.sort-controls {
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
}

.sort-controls .fa-sort-amount-desc {
    color: #455a64;
    background-color: #ffffff;
}

.sort-controls .btn-custom.dropdown-toggle {
    padding: 0 14px;
}
.btn-custom.dropdown-toggle:hover {
    box-shadow: none;
    color: #707070;
}

.page-content .row + .row {
    margin-top: 30px;
}

/* Page content styles end */

/*========== All new items start ==========*/