/*========== HOME STYLES START ==========*/
/*ВРЕМЕННЫЙ!!!!!!*/
.search-section.bg.my-home {
    min-height: 532px;
    padding: 160px 0 175px 0;
}
/*/ВРЕМЕННЫЙ!!!!!!*/
.newest-release-prodcuts .bottom-tags li {
    margin-right: 6px;
    margin-left: 6px;
}
/*========== HOME STYLES END ==========*/
/*========== WHY YOU CHOOSE FOXTAR MARKET START ==========*/
.why-you-choose-foxtar-market .advantage-item {
    text-align: center;
}
.why-you-choose-foxtar-market .advantage-item:hover .advantage-item-img img {
    filter: brightness(100%);
}
.why-you-choose-foxtar-market .advantage-item:hover .advantage-item-title {
    color: #8bc34a;
}
.why-you-choose-foxtar-market .advantage-item-img {
    padding: 33px;
}
.why-you-choose-foxtar-market .advantage-item-img img {
    filter: brightness(85%);
}
.why-you-choose-foxtar-market .advantage-item-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 30px;
}
.why-you-choose-foxtar-market .advantage-item-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b0bec5;
}
/*========== WHY YOU CHOOSE FOXTAR MARKET END ==========*/

/*========== THIS WEEK TRENDING PRODUCTS START ==========*/
/*TRENDING PRODUCTS CAROUSEL START*/
.this-week-trending-products .trending-products-carousel .slick-dots {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 67px;
}
.this-week-trending-products .trending-products-carousel .slick-dots li {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #e8e8e8;
    border: 1px solid #b1b1b1;
    border-radius: 50%;
    cursor: pointer;
}
.this-week-trending-products .trending-products-carousel .slick-dots li button {
    display: none;
}
.this-week-trending-products .trending-products-carousel .slick-dots li + li {
    margin-left: 7px;
}
.this-week-trending-products .trending-products-carousel .slick-dots li.slick-active {
    background-color: #8bc34a;
    border: none;
}
/*TRENDING PRODUCTS CAROUSEL END*/
/*========== THIS WEEK TRENDING PRODUCTS END ==========*/

/*========== BANNER SECTION START ==========*/
.banner-section .banner {
    background-image: url("../../app/img/home-banner-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 438px;
    max-width: 1105px;
    padding: 114px 226px 107px 226px;
}
.banner-section .banner-content {
    background-color: #8bc34a;
    padding: 71px 60px 81px 60px;
}
.banner-section .banner-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
}
.banner-section .banner-text p span {
    font-weight: 700;

}
.banner-section .banner-button button {
    color: #263238;
    background-color: #ffffff;
}
/*========== BANNER SECTION END ==========*/