<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project "MARKET-PLACE" - homework front-end online 17.02.18</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <!--FontAwesome-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- Formstayler style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.theme.css">
    <!--Наши стили-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section class="form-example">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-wrapper-bordered">
                        <div class="content-wrapper-title">
                            <h6>Personal info</h6>
                        </div>
                        <!-- /content-wrapper-title -->
                        <div class="content-wrapper-body">
                            <form>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">First Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="staticEmail" value="" placeholder="First Name">
                                    </div>
                                </div>

                                
                                <div class="form-group row">
                                    <label for="selectCountry" class="col-sm-4 col-form-label">Country</label>
                                    <div class="col-sm-8">
                                        <select  id="selectCountry" name="selectCountry" data-placeholder="Select Your Country">
                                            <option value="USA" >USA</option>
                                            <option value="Canada">Canada</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="user-message21" class="col-sm-4 col-form-label">Product Description</label>
                                    <div class="col-sm-8">
                                        <textarea name="user-message21" id="user-message21" placeholder="<h1> Type your text  here </h1/>" class="form-control"></textarea>
                                        </div>
                                    </div>


                                    <div class="form-group row ">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control border-none" id="user-name" name="user-name" placeholder="Name*">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control border-none" id="user-E-mail" name="user-E-mail" placeholder="E-mail*">
                                        </div>
                                    </div>

                                    <div class="form-group row border-none"> 
                                        <div class="col-sm-12">
                                            <textarea name="user-message28" id="user-message28" placeholder="Message*" class="form-control border-none"></textarea> 
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <!-- / content-wrapper-body-->
                        </div>
                        <!-- /content-wrapper-bordered -->
                    </div>
                    <!-- /col -->
                </div>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.min.js"></script>

        <!-- Init plugins -->
        <script src="js/init.js"></script>
    </body>
    </html> 