/*========== ASIDE START ==========*/

.aside-container .aside-content{
    border: 1px solid #dedede;
    background-color: #fff;
    padding: 25px;
}
.aside-container .aside-content{
    border: 1px solid #dedede;
}
.aside-container .aside-content .aside-title{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
    color: #263238;
    padding-bottom: 20px;
    border-bottom: 1px solid #dde3e8;
}
.aside-container .aside-content + .aside-content{
    margin-top: 30px;
}

@media (max-width: 991px) {
    .mobile-aside {
        position: fixed;
        top: 15px;
        left: 0;
        z-index: 999;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        height: 100vh;
        overflow-y: auto;
    }
    .mobile-aside.left {
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
    }
    .mobile-aside.right {
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        color: rgba(0, 0, 0, .4);
        z-index: -1;
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        opacity: 0;
    }
    #main.show-aside .mobile-aside.left {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #main.show-aside .overlay {
        z-index: 998;
        opacity: 1;
    }
}
/*========== ASIDE END ==========*/