/*========== DEFAULT SECTION START ==========*/
.default-section {
    padding: 122px 30px;
}
.default-section h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    color: #263238;
    text-align: center;
    margin-bottom: 60px;
}
.default-section.bg-white {
    background-color: #ffffff;
}
.default-section.bg-blue {
    background-color: #263238;
}
.default-section.bg-blue h2 {
    color: #ffffff;
}
/*========== DEFAULT SECTION END ==========*/