/*========== GUIDE STYLES START ==========*/
.guide-h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: #e74c3c;
    color: #ffffff;
}
.guide-section {
    padding-bottom: 50px;
    border-bottom: 5px dotted #707070;
}
.guide-section h2 {
    margin-bottom: 50px;
    text-align: center;
    background-color: #8bc34a;
    color: #ffffff;
}
/*========== GUIDE STYLES END ==========*/