/*---search-section---*/
.search-section.small{
    background: url(../../app/img/inner-sm.jpg) no-repeat center top/cover;
    padding-top: 60px;
    padding-bottom: 70px;
    height: 230px;
}
.search-section.bg{
    background: url(../../app/img/inner-bg.jpg) no-repeat center top/cover;
    padding-bottom: 170px;
    padding-top: 155px;
    height: 532px;
}
.search-section.bg h1{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #f8f8f8;
    margin-bottom: 30px;
}
.search-section.bg span{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #f8f8f8;
    display: block;
    margin-bottom: 55px;
}
.search-section.bg form{
    -webkit-box-shadow: 0 0 20px #8a9b77;
    box-shadow: 0 0 20px #8a9b77;
}
.search-section.small form{
    -webkit-box-shadow: 0 0 20px #a1a1a1;
    box-shadow: 0 0 20px #a1a1a1;
}
.search-section.bg form .form-control,
.search-section.small form .form-control
{
    min-width: 670px;
}
.search-section .form-control {
    width: 100%;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1em;
    color: #90a4ae;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 30px;
}
.search-section .form-control:focus{
    border: none;
}
.text-center{
    width: 750px;
}
.search-section.small span{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #f8f8f8;
    display: block;
    margin-bottom: 27px;
}
.search-section form{
    position: relative;
}
.search-section form i{
 position: absolute;
 top: 50%;
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
 right: 20px;
 font-size: 20px;
}
/*---/search-section---*/