/*=== tags start ===*/

.tag-list {
    font-size: 14px;
    font-weight: 500;
}
.tag-list-item {
    background-color: #fff;
    padding: 13px 23px;
    color: #263238;
}
.tag-list  .tag-list-item + .tag-list-item  {
     margin-left: 5px;
 }
.tag-list .tag-list-item.active{
    background-color: #e74c3c;
    color: #ffffff;
    padding: 13px 27px;
    -webkit-box-shadow: 0 2px 5px rgba(202, 215, 228, .75);
    box-shadow: 0 2px 5px rgba(202, 215, 228, .75);
}
.tag-list .tag-list-item:hover {
    background-color: #e74c3c;
    color: #ffffff;
    -webkit-box-shadow: 0 2px 5px rgba(202, 215, 228, .75);
    box-shadow: 0 2px 5px rgba(202, 215, 228, .75);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.tag-list-item a:hover {
    color: #ffffff;
}
.mobile-list-wrap {
    display: none;
}
.mobile-list {
    color: #263238;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
}
.mobile-list .current {
    padding: 15px 30px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .tag-list-item  {
        padding: 13px 0;
    }
    .mobile-list-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 50px;
    }

    .mobile-list .current .fa-close {
        display: none;
    }
    .mobile-list .current.selected .fa-close {
        display: block;
    }
    .mobile-list .current.selected .fa-chevron-down {
        display: none;
    }
    .mobile-list .dropdown-list {
        display: none;
        background-color: #fff;
        padding: 15px 30px;
    }
}
/*=== tags end ===*/

